@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    margin: 70px 80px;
    animation: fadeIn 1.5s ease-in-out;
}

.about-title {
    position: relative;
    animation: fadeIn 1.5s ease-in-out;
}

.about-left img {
    width: 300px;
    animation: zoomIn 2s ease-in-out;
    transition: transform 0.3s ease-in-out; 

}
.about-left img:hover {
    transform: scale(1.1); 

}


.about-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: fadeIn 2s ease-in-out;
}

.about-section {
    display: flex;
    gap: 60px;
    animation: slideIn 1.5s ease-in-out;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 18px;
    font-weight: 500;
    animation: fadeInLeft 2s ease-in-out;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.about-skill {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: transform 0.3s, background 0.3s;
}

.about-skill p {
    min-width: 100px;
    font-size: 18px;
    font-weight: 450;
    cursor: pointer;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 6px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 60px;
    animation: pulse 2s infinite;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s;
}

.about-achievements h1 {
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 15px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
}

.about-achievement:hover {
    transform: scale(1.12);
}

@media (max-width: 768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-title img {
        width: 130px;
        right: -20px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 25px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 30px;
        font-weight: 700;
    }
}
